body {
    margin: 0;
    padding-top: 800px;
}

.profile {
    width: 400px;
    margin-bottom: 50px;
    border-radius: 7%;
}

#welcome {
    position: absolute;
    height: 50px;
    color: lightslategray;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0.8755633113434556794435;
    background: linear-gradient(#fffc61 100%, #fffc61 100%);
    display: table;
    width: 100%;
    height: 50%;
    z-index: 9
        font-family: 'Itim', cursive;
}

.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    #6653f5#a4c0ed
}

h1 {
    color: darkorange;
    font-size: 50px line-height:1.2 f ont-family:inherit font-weight:300
        font-family: 'Itim', cursive;
}

#name {
    font-size: 20px;
    line-height: 1.2;
    font-family: 'Itim', cursive;
}

h2 {
    font-size: 30px;
    font-height: 1.2;
    font-weight: 300;
    font-family: 'Itim', cursive;
}

#bio {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    font-family: 'Itim', cursive;

}

.line {
    height: 6px;
    background-color: #c4b9c9;
    width: 70px;
    margin: 8px auto;
}

p {
    max-width: 900px;
    margin: 25px auto;
    font-size: 6px line-height:1.3
        font-family: 'Itim', cursive;
}

.menu {
    list-style: none;
    font-family: sans-seirf;
    top: 10px right:30px z-index:10 curser:pointer font-size:20px
}
.links{
    float:left
        color:blue
        padding-top:5
        padding-left:9
        padding-right:9
        padding-bottom:5
        font-family:fantasy
        font-size:20px
}
.links:hover{
    background-color:skyblue
}